<app-alert #alert></app-alert>
<div class="d-flex justify-content-end mx-3">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleLargeModal"
    (click)="open(cateogoryModal)"
  >
    Add Admin
  </button>
</div>
<div class="card mt-2">
  <div class="card-body">
    <div class="calendar">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button
          class="btn btn-outline-secondary bx bxs-calendar"
          (click)="d.toggle()"
          type="button"
        ></button>
      </div>
      <div class="d-lg-flex align-items-center mb-4 gap-3">
        <div class="position-relative">
          <input
            type="text"
            class="form-control ps-5 radius-30"
            placeholder="Search Order"
            (keydown)="search($event.target.value)"
          />
          <span class="position-absolute top-50 product-show translate-middle-y"
            ><i class="bx bx-search"></i
          ></span>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of categoryArray
                | paginate : { itemsPerPage: 10, currentPage: p }
            "
          >
            <td>{{ item.full_name }}</td>

            <td>
              <span>{{ item.email }}</span>
            </td>
            <td>
              <span>{{
                item.role == "super_admin"
                  ? "Super Admin"
                  : item.role == "lawyer"
                  ? "Lawyer"
                  : item.role == "counsellor"
                  ? "Councellor"
                  : null
              }}</span>
            </td>

            <td>
              <div class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li
                    (click)="edit(item, cateogoryModal)"
                    class="dropdown-item"
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleLargeModal"
                  >
                    Edit
                  </li>
                  <li (click)="view(item)" class="dropdown-item">View</li>
                  <li (click)="deleteCategory(item)" class="dropdown-item">
                    Delete
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="float: right; margin-bottom: 50px">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template #cateogoryModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Admin</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="my-4" [formGroup]="categoriesForm">
      <div class="row">
        <div class="col-6 col-sm-12">
          <label class="form-label">First name</label>
          <input
            type="text"
            formControlName="first_name"
            class="form-control form-control-lg"
          />
        </div>
      </div>

      <div class="col-6 col-sm-12">
        <label class="form-label">Last name</label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control form-control-lg"
        />
      </div>
      <div class="col-6 col-sm-12">
        <label for="">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id=""
        />
      </div>
      <div class="col-6 col-sm-12">
        <label for="">Contact</label>
        <input
          type="email"
          formControlName="phone_number"
          class="form-control"
          id=""
        />
      </div>
      <div class="col-12 col-sm-12">
        <label>Select Role</label>
        <select formControlName="role" id="" class="form-control">
          <option value="" selected disabled>Select Role</option>
          <option value="super_admin">Super Admin</option>
          <option value="lawyer">Lawyer</option>
          <option value="counsellor">Counsellor</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="close()"
    >
      Close
    </button>
  

    <button class="btn btn-primary" type="button" (click)="this.data_id ? update(): store()" [disabled]="adminForm.invalid"> <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
      <span class="visually-hidden" *ngIf="isLoading">Loading...</span>&nbsp; {{this.category_id?'Update':'Save'}}
    </button>
  </div>
</ng-template>

<!-- <div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="my-4" [formGroup]="categoriesForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Title</label>
                            <input type="text"
                            formControlName="title"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Slug</label>
                            <textarea type="text"
                            formControlName="slug"
                             class="form-control form-control-lg" ></textarea>
                        </div>
                    </div>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="store()">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
