<app-alert #alert></app-alert>
<div class="d-flex justify-content-end mx-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleLargeModal" (click)="open(cateogoryModal)">Add Court</button>
  </div>
<div class="card mt-2">
    <div class="card-body">
      <div class="table-responsive">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <div class="position-relative">
            <input
              type="text"
              class="form-control ps-5 radius-30"
              placeholder="Search Order"
              (keydown)="search($event.target.value)"
            />
            <span
              class="position-absolute top-50 product-show translate-middle-y"
              ><i class="bx bx-search"></i
            ></span>
          </div>
        </div>
        <table class="table align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>Courts</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of categoryArray | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{item.court}}</td>
              
              <td>
                <span>{{item.description}}</span>
              </td>
              <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                    <ul class="dropdown-menu">
                        <li (click)="edit(category)" class="dropdown-item" class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleLargeModal">Edit
                        </li>
                        <li (click)="view(item)" class="dropdown-item">View
                        </li>
                        <li (click)="deleteCategory(item)" class="dropdown-item">Delete
                        </li>
                    </ul>
                </div>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div style="float: right; margin-bottom: 50px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  </div>
  
  <ng-template #cateogoryModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">New Category</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form class="my-4" [formGroup]="categoriesForm">
        <div class="row">
            <div class="col-sm-12">
                <label class="form-label">Court</label>
                <input type="text"
                formControlName="title"
                 class="form-control form-control-lg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="form-label">Description</label>
                <textarea type="text"
                formControlName="slug"
                 class="form-control form-control-lg" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <label for="">Select Catgory</label>
            <select name="" id="" class="form-control">
                <option value=""></option>
            </select>
        </div>
        </div>
    </form></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
      <button
      type="button"
      class="btn btn-primary"
      [disabled]="categoriesForm.invalid"
      (click)="case_id ? update() : store()"
    >
    <span
        [ngClass]="{ 'spinner-border': isLoading }"
        style="font-size: 10px; height: 20px; width: 20px"
        role="status"
      >
  </span>
      {{ case_id ? " Update " : "Save changes" }}
    </button>
      <!-- <button type="button" class="btn btn-primary" (click)="store()">Save changes</button> -->
  </div>
  </ng-template>

  <!-- <div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="my-4" [formGroup]="categoriesForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Title</label>
                            <input type="text"
                            formControlName="title"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Slug</label>
                            <textarea type="text"
                            formControlName="slug"
                             class="form-control form-control-lg" ></textarea>
                        </div>
                    </div>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="store()">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
