<div class="d-flex justify-content-end mx-3">
    <!-- <button type="button" class="btn btn-primary">Add User</button> -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleLargeModal">Add User</button>
  </div>
<div class="card mt-2">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Organization</th>
              <th>Passsword</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users  | paginate: { itemsPerPage: 10, currentPage: p }">
            <tr *ngFor="let item of contractor.contractor_details">
              <td>{{contractor.first_name}} {{contractor.last_name}}</td>
              <td class="">
                <span *ngIf="item.contractor_photo_status === 'approved'" class="approve-view"><i
                    class="bx bx-check-square"></i>
                </span>
                <span *ngIf="item.contractor_photo_status === 'pending'"
                  (click)="open(content, item.contractor_photo, item.id)" class="image-view"><i class="bx bxs-image-add">
                  </i>
                </span>
                <span *ngIf="!item.contractor_photo">
                  no image
                </span>
  
              </td>
              <td class="">
                <span *ngIf="item.contractor_license_status === 'approved'" class="approve-view"><i
                    class="bx bx-check-square"></i>
                </span>
                <span *ngIf="item.contractor_license_status === 'pending'"
                  (click)="openLicense(licenseimage, item.contractor_license_image, item.id)" class="image-view"><i class="bx bxs-image-add">
                  </i>
                </span>
                <span *ngIf="!item.contractor_license_image">
                  no image
                </span>
  
              </td>
              <td>
                <span>{{item.license_number}}</span>
                <span *ngIf="!item.license_number">no license</span>
              </td>
              <td>
                <span *ngIf="item.ghana_card_status === 'approved'" class="approve-view"><i
                    class="bx bx-check-square"></i></span>
                <span *ngIf="item.ghana_card_status === 'pending'"
                  (click)="openGhanaCard(ghanacard, item.ghana_card_back, item.ghana_card_back, item.id)"
                  class="image-view"><i class="bx bxs-image-add">
  
                  </i>
                </span>
                <span *ngIf="!item.ghana_card_back || !item.ghana_card_back">
                  no images
                </span>
              </td>
              <td>
                <span *ngIf="item.road_worthiness_status === 'approved'" class="approve-view"><i
                    class="bx bx-check-square"></i></span>
                <span *ngIf="item.road_worthiness_status === 'pending'"
                  (click)="roadOpen(road, item.road_worthiness, item.id)" class="image-view"><i class="bx bxs-image-add">
                  </i>
                </span>
                <span *ngIf="!item.road_worthiness">
                  no images
                </span>
              </td>
              <td>
                <span *ngIf="item.vehicle_insurance_status === 'approved'" class="approve-view"><i
                    class="bx bx-check-square"></i></span>
                <span *ngIf="item.vehicle_insurance_status === 'pending'"
                  (click)="openInsurance(insurance, item.vehicle_insurance, item.id)" class="image-view"><i
                    class="bx bxs-image-add">
  
                  </i>
                </span>
                <span *ngIf="!item.vehicle_insurance">
                  no images
                </span>
              </td>
              <td>
  
                <span class="" (click)="openModal(modal, item)">
                  <fa-icon class="icon-style" [icon]="faEye"></fa-icon>
                </span>
                <span (click)="sendMessage(message)" class="icon-space"><i class="bx bx-message icon-style"></i></span>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div style="float: right; margin-bottom: 50px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  </div>
  
  <ng-template #content let-c="close" let-d="dismiss">
    <app-single-contract [photo]="contractorsPhoto">
      <h4 class="modal-title pull-left">Contractor Photo</h4>
      <div class="mx-auto justify-content-center d-flex mt-4 my-buttons">
        <button class="btn btn-success text-white" (click)="getApproval('contractor_photo')">
          <span [ngClass]="{'spinner-border': isLoading}" style="font-size: 10px; height: 20px; width: 20px;"
            role="status">
          </span>
          Approval</button>
        <button class="btn btn-danger text-white ms-2">Decline</button>
      </div>
  
    </app-single-contract>
  
  </ng-template>
  <ng-template #licenseimage let-c="close" let-d="dismiss">
    <app-single-contract [photo]="contractorsPhotoLicense">
      <h4 class="modal-title pull-left">Contractor Licence Photo</h4>
      <div class="mx-auto justify-content-center d-flex mt-4 my-buttons">
        <button class="btn btn-success text-white" (click)="getApproval('license_card')">
          <span [ngClass]="{'spinner-border': isLoading}" style="font-size: 10px; height: 20px; width: 20px;"
            role="status">
          </span>
          Approval</button>
        <button class="btn btn-danger text-white ms-2">Decline</button>
      </div>
  
    </app-single-contract>
  
  </ng-template>
  <ng-template #road let-c="close" let-d="dismiss">
    <app-single-contract [photo]="roadPhoto">
      <h4 class="modal-title pull-left">Road Worthiness</h4>
      <div class="mx-auto justify-content-center d-flex mt-4 my-buttons">
        <button class="btn btn-success text-white" (click)="getApproval('road_worthiness')">Approval</button>
        <button class="btn btn-danger text-white ms-2">Decline</button>
      </div>
    </app-single-contract>
  
  </ng-template>
  <ng-template #insurance let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Proof of insurance</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="dimissFirst()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
  
    </div>
    <div class="modal-body">
      <div class="container mx-auto justify-content-center d-flex">
        <div class="mx-auto">
          <img [src]="insuranceBack" height="300px" width="300px" alt="">
        </div>
      </div>
      <div class="mx-auto justify-content-center d-flex mt-4">
        <button class="btn btn-success text-white" (click)="getApproval('insurance_sticker')">Approval</button>
        <button class="btn btn-danger text-white ms-2">Decline</button>
      </div>
    </div>
  </ng-template>
  <ng-template #ghanacard let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ghana Card</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="dimissFirst()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container mx-auto justify-content-center d-flex">
        <div class="row">
          <div class="col-lg-6">
            <img [src]="ghanaFront" height="300px" width="300px" alt="No Image">
          </div>
          <div class="col-lg-6">
            <img [src]="ghanaFront" height="300px" width="300px" alt="No Image">
          </div>
        </div>
      </div>
      <div class="mx-auto justify-content-center d-flex mt-4">
        <button class="btn btn-success text-white" (click)="getApproval('national_id')">Approval</button>
        <button class="btn btn-danger text-white ms-2">Decline</button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #message let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Send Message</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="dimissFirst()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="form-group">
          <textarea class="form-control" autosize id="exampleFormControlTextarea1" rows="3"></textarea>
  
        </div>
      </form>
      <div class="mx-auto justify-content-center d-flex mt-4">
        <button class="btn btn-success text-white">Submit</button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #modal let-c="close" let-d="dismiss">
    <div class="container justify-content-center p-4">
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">Send Message</h4> -->
        <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="dimissFirst()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class="span-bold  mb-4">Date of Birth</span>
            <p class="pl-4">
              <span>{{dateofBirth}}</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class=" span-bold mb-4">Gender</span>
            <p class="pl-4">
              <span>{{gender}}</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class="span-bold mb-4">License Issue Date</span>
            <p class="pl-4">
              <span>{{licenseIssueDate}}</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class="span-bold mb-4 ">License Expire Date</span>
            <p class="pl-4"><span>{{licenseExpireDate}}</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class="span-bold mb-4 ">License Number</span>
            <p class="pl-4">
              <span>{{licenseNumber}}</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <span class="span-bold mb-4">License Plate</span>
            <p class="pl-4"><span>{{licensePlate}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="my-4" [formGroup]="userFormGroup">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">First Name</label>
                            <input type="text"
                            formControlName="first_name"
                             class="form-control form-control-lg" />
                        </div>
                        <div class="col-6">
                            <label class="form-label">Last Name</label>
                            <input type="text"
                            formControlName="last_name"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Email</label>
                            <input type="text"
                            formControlName="email"
                             class="form-control form-control-lg" />
                        </div>
                        <div class="col-6">
                            <label class="form-label">Phone Number</label>
                            <input type="text"
                            formControlName="phone_number"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Password</label>
                            <input type="password"
                            formControlName="password"
                             class="form-control form-control-lg" />
                        </div>
                        <div class="col-6">
                            <label class="form-label">Confirm Passowrd</label>
                            <input type="password"
                            formControlName="confirm_passord"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                   
                     <!-- <div class="d-grid gap-2">
                        <button type="button" (click)="onSubmit($event)" class="btn btn-primary btn-lg mt-2">Send</button> <a href="javascript:;" (click)="onSignIn()" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                    </div> -->
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>