
.image-view {
    font-size: 30px; 
    color: #DA0037;
     cursor: pointer;
}

.approve-view {
    font-size: 30px; 
    color: #3E7C17;
     cursor: pointer;
    
}

.center-icon {
    align-items: center;
    margin: auto;
    justify-content: center;
}

.icon-style {
    font-size: 25px;
    cursor: pointer;
}

.icon-space {
    margin-left: 0.5rem;
    margin-top: 20px;
}


.left-item {
    order: 1;
  }
  
  .right-item {
    order: 2;
  }


  .span-bold {
    font-weight: bold;
  }
  

  