<div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Case</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="my-4" [formGroup]="caseLawGroup">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Case Title</label>
                            <input type="text"
                            formControlName="case_title"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Summary</label>
                            <textarea type="text"
                            formControlName="summary"
                             class="form-control form-control-lg" ></textarea>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <label class="form-label">Court</label>
                          <textarea type="text"
                          formControlName="court"
                           class="form-control form-control-lg" ></textarea>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">Category</label>
                            <select formControlName="category_id" id="" class="form-control">
                              <option value="" disabled selected>Select Category</option>
                              <option [value]="category?.uuid" *ngFor="let category of categories">{{category?.title}}</option>
                            </select>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Case File</label>
                            <input type="file"
                            (change)="onFileChange($event)"
                            formControlName="case_file"
                            accept=".pdf,.docx,.doc,.xlsx,.xls,.csv"
                             class="form-control form-control-lg" />
                        </div>
                    </div>
                     <!-- <div class="d-grid gap-2">
                        <button type="button" (click)="onSubmit($event)" class="btn btn-primary btn-lg mt-2">Send</button> <a href="javascript:;" (click)="onSignIn()" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                    </div> -->
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="store()">Save changes</button>
            </div>
        </div>
    </div>
</div>